@model sabooedu.Areas.Auth.Models.AllModule

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AllModule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
